*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
header{
    padding: 30px 0px;
    background-color: #252631;
    /* position: fixed;
    width: 100%; 
    z-index: 10; */
    /* display: block;
    margin-bottom: 100px; */
    /* transition: all 1s ease-in-out;
    /* position: relative; */
}
/* .sticky{
    background-color: #252631;
    opacity: 0.9;
} */
.nav{
    max-width: 1280px;
    margin: 0 auto;
}
.nav-pc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 32px;
}
.nav-list{
    padding-left: 30px;
    list-style-type: none;
}
.nav-list .nav-link{
    text-decoration: none;
    padding-right: 32px;
    font-weight: 500;
    color: #ffff;
    font-size: 14px;
}
.nav-list .nav-link:hover{
    color: #E4D804;
    transition: all 0.2s ease-in-out;
}
.nav-list .nav-link:last-child{
    padding-right: 0px;
}
.nav-search-input{
    background: #12151e;
    padding: 14px 20px;
    /* border-radius: 30px; */
    box-shadow: inset 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
}
.nav-search-input input{
    background: #12151e;
    outline: none;
    border: none;
    color:#ffff;
    font-size: 12px;
}
.nav-search-submit{
    background: #12151e;
    outline: none;
    border: none;
    color:#ffff;
    cursor: pointer;
    color: #e4d804;
}
.nav-right{
    display: flex;
    gap: 16px;
    align-items: center;
    background: #12151e;
    border: 1px solid #e4d804;
    /* border-radius: 50px; */
    padding: 10px 20px;
}
.nav-right:hover{
    background-color: #E4D804;
    color: #12151e;
    transition: all 0.2s ease-in-out;
}
.nav-right a{
    text-decoration: none;
    font-size: 14px;
    color: #ffff;
    font-weight: bold;
}
/* .nav-right a:hover{
    color: #E4D804;
} */
.nav-right button{
    background-color: #7E3AF2;
    color: white;
    padding: 8px 12px;
    border: #7E3AF2;
    border-radius: 5px;
    font-weight: bold;
}
.nav-right button:hover{
    background-color: #6238ab;
}
.nav-bar{
    display: none;
    font-size: 23px;
    padding: 4px 12px;
    color: #ffff;
}
.nav-mobile{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    background-color: #000000;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 10;
}
.nav-mobile-close{
    position: fixed;
    top: 5px;
    right: 5px;
    padding-top: 10px;
    padding: 5px 10px;
    color: #ffff;

}
.nav-mobile-list{
    list-style-type: none;
    padding: 20px 20px;
    font-size: 10px;
    margin-top: 5px;
}
.nav-mobile-button-link{
    background-color: #12151e;
    color: #ffff;
    padding: 10px 10px;
    border: 2px solid #E4D804;
    border-radius: 10px;
    margin-top: 10px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.nav-mobile-link{
    text-decoration: none;
    display: block;
    color: #ffff;
    line-height: 35px;
    font-weight: bold;
}
.nav-over-lay{
    background-color:#171d22be;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}
.input-check:checked ~ .nav-over-lay{
    display: block;
}
.input-check:checked ~ .nav-mobile{
    transform: translateX(0);
}
@media (max-width: 1023px){
    /* ----nav---- */
    .nav-bar{
        display: block;
    }
    .nav-pc{
        padding: 0px 20px;
    }
    .nav-list{
        display: none;
    }
    .nav-right{
        display: none;
    }
    .nav-search-input{
        display: none;
    }
}